.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100vw;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    width: 30%;
    align-items: center;
}

h1{
    font-size: 45px;
    font-family: sans-serif;
}

.slack-logo{
    margin-top: 48px;
    margin-bottom: 30px;
}   

.login-button{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: black;
    color: white;
    border-radius: 12px;
}
