.register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100vw;
}

h1{
    font-size: 45px;
    font-family: sans-serif;
    margin-top: 40px;
}

.register-form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    width: 30%;
    align-items: center;
}

.register-button{
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 12px;
    height: 40px;
    gap: 10px;
    font-size: 18px;
}