.workspace-blocks-wrapper {
    width: 100%;
    padding: 32px 0 0 0;
}

.workspace-blocks-row {
    display: flex;
    flex-direction: row;
    gap: 18px;
    padding: 0 24px;
    flex-wrap: wrap;
    
}

.workspace-chats-container {
    min-width: 180px;
    max-width: 220px;
    flex: 1 0 180px;
    justify-content: flex-start;
    text-align: left;
}
.workspace-chats-container{
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 30%;
    height: 30%;
    border: 1px solid #ddd;
    margin-bottom: 18px;
    cursor: pointer;
    justify-content: space-around;
    color: black;
    background-color: white;
    border-radius: 12px;
    font-size: 18px;
    font-family: sans-serif;
}