.workspace-chats-container{
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 70%;
    height: 50px;
    border: 1px solid #ddd;
    margin-bottom: 18px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 12px;
    font-size: 18px;
    font-family: sans-serif;
}